:root {
  color-scheme: dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family, "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      sans-serif);
  background-color: #020617;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  font-family: inherit;
}
